/* =========================
   RESET
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

/* =========================
   BODY
========================= */

body{
  background:#f5f5f5;
  color:#1d2b45;
}

/* =========================
   CONTAINER GERAL
========================= */

.container{
  max-width:1200px;

  margin:0 auto;

  padding:0 20px;
}

/* =========================
   TOPO
========================= */

.topo,
.motos{
  width:100%;
}

/* =========================
   BANNER
========================= */

.banner{
  height:140px;

  background:
  linear-gradient(
    135deg,
    #ff5a5a,
    #d90000
  );

  border-radius:0 0 25px 25px;
}

/* =========================
   PERFIL
========================= */

.perfil-area{
  display:flex;

  justify-content:center;

  align-items:flex-end;

  gap:40px;

  margin-top:-50px;
}

.perfil{
  width:300px;
  height: 300px;;

  border-radius:50%;

  object-fit:cover;

  border:4px solid white;

  background:white;
}

/* =========================
   LOGO
========================= */

.logo-loja{
  width:150px;
  height:150px;

  background:white;

  border-radius:20px;

  display:flex;
  align-items:center;
  justify-content:center;

  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.logo-loja img{
  width:70%;
}

/* =========================
   INFO
========================= */

.info{
  padding:30px 20px;

  text-align:center;
}

.info h1{
  font-size:2.5rem;

  margin-bottom:10px;

  display:flex;
  justify-content:center;
  align-items:center;

  gap:10px;
}

.info i{
  color:#1d9bf0;
}

.info p{
  color:#666;

  line-height:1.5;

  font-size:1rem;
}

/* =========================
   BOTÕES
========================= */

.botoes{
  display:flex;

  justify-content:center;

  gap:15px;

  margin-top:25px;

  flex-wrap:wrap;
}

.btn{
  background:#d90000;

  color:white;

  padding:15px 25px;

  border-radius:50px;

  text-decoration:none;

  font-weight:bold;

  display:flex;
  align-items:center;
  gap:10px;

  transition:.3s;
}

.btn:hover{
  transform:translateY(-3px);
}

/* =========================
   MOTOS
========================= */

.motos{
  padding:20px 0 50px;
}

.motos h2{
  text-align:center;

  margin-bottom:30px;

  font-size:2.2rem;
}

/* =========================
   CARD MOTO
========================= */

.card-moto{
  background:white;

  max-width:500px;

  margin:auto;

  padding:25px;

  border-radius:25px;

  box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.card-moto h3{
  font-size:2rem;

  margin-bottom:20px;

  text-align:center;
}

.card-moto img{
  width:100%;

  max-width:350px;

  display:block;

  margin:20px auto;
}

/* =========================
   BOTÕES CARD
========================= */

button{
  width:100%;

  padding:18px;

  border:none;

  border-radius:50px;

  background:#d90000;

  color:white;

  font-size:1rem;

  margin-top:15px;

  cursor:pointer;

  transition:.3s;
}

button:hover{
  transform:scale(1.02);
}

.secundario{
  background:#f1f1f1;

  color:#1d2b45;
}

/* =========================
   RESPONSIVO
========================= */

@media(max-width:768px){

  .info h1{
    font-size:2rem;
  }

  .perfil-area{
    gap:20px;
  }

  .logo-loja{
    width:70px;
    height:70px;
  }

  .perfil{
    width:100px;
    height:100px;
  }
  

  

}

.motos-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(320px,1fr));

  gap:30px;

  margin-top:30px;
}



/* =========================
   PÁGINA DA MOTO
========================= */

.hero-moto{
  text-align:center;

  padding:40px 0;
}

.voltar{
  display:inline-flex;

  align-items:center;

  gap:10px;

  text-decoration:none;

  color:#1d2b45;

  margin-bottom:30px;
}

.moto-detalhe-img{
  width:100%;

  max-width:500px;

  margin:30px auto;

  display:block;
}

.hero-moto h1{
  font-size:2.5rem;

  margin-bottom:10px;
}

.categoria{
  color:#777;
}

/* =========================
   DETALHES
========================= */

.detalhes,
.consorcio,
.financiamento{
  margin-top:50px;
}

.detalhes h2,
.consorcio h2,
.financiamento h2{
  margin-bottom:25px;

  text-align:center;
}

.info-box{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(200px,1fr));

  gap:20px;
}

.item{
  background:white;

  padding:25px;

  border-radius:20px;

  text-align:center;

  box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.item span{
  display:block;

  color:#777;

  margin-bottom:10px;
}

.item strong{
  font-size:1.2rem;
}

/* =========================
   PLANOS
========================= */

.plano{
  background:white;

  padding:30px;

  border-radius:25px;

  text-align:center;

  box-shadow:0 5px 15px rgba(0,0,0,.05);

  max-width:500px;

  margin:auto;
}

.valor{
  display:block;

  font-size:2rem;

  color:#d90000;

  margin:20px 0;
}